<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
        <div>
            <h3>RESULT:</h3>
            <p>${op}</p>
        </div>
        <a href="/calc"><button>calc again</button></a>
        <a href="/calc/history"><button>history</button></a>
</div>
</body>
</html>