<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>PLEASE, PUT YOUR LOGIN</h3>
<form method="POST">
    <input type="text" name ="user">
    <button type="submit" name="Submit">login</button>
</form>


</body>
</html>